<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/register" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">

            <button type="submit">Register Contact</button>
        </form>
    </body>
</html>